# VPC - use these parameters to create new VPC resources (if not specified vpc_id)
#cidr = "10.10.0.0/16"

# By default availability zones are retrieved from the current region
#azs = ["eu-west-1a", "eu-west-1b"]

# Private subnets(cidr blocks) could be specified(for creating) explicitly (if not specified vpc_id)
# private_subnets = ["10.10.1.0/24"]

# Public subnets(cidr blocks) could be specified(for creating) explicitly (if not specified vpc_id)
#public_subnets = ["10.10.11.0/24", "10.10.12.0/24"]

# VPC - use these parameters to use existing VPC resources
# vpc_id = "vpc-2a9a7093"
# private_subnet_ids is required parameter if vpc_id is specified. At least 2 subnets must be specified.
# private_subnet_ids = ["subnet-1fe3d837", "subnet-129d66ab"]
# public_subnet_ids = ["subnet-29982053", "subnet-29c5c261", "subnet-fe5d2ca4"]

# Instance type that will be used for serving API
api_instance_type = "t3.small"

# Instance type that will be used for serving web application
web_instance_type = "t3.micro"

# Region where ECR is located. It is used for generating IAM role policy for ec2 instances.
ecr_region = "eu-central-1"

# Your public key. It is used for generating key pair.
ssh_public_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQD3F6tyPEFEzV0LX3X8BsXdMsQz1x2cEikKDEY0aIj41qgxMCP/iteneqXSIFZBp5vizPvaoIR3Um9xK7PGoW8giupGn+EPuxIA4cDM4vzOqOkiMPhz5XK0whEjkVzTo4+S0puvDZuwIsdiW9mxhJc7tgBNL0cYlWSYVkz4G/fslNfRPW5mYAM49f4fhtxPb5ok4Q2Lg9dPKVHO/Bgeu5woMc7RY0p1ej6D4CKFE6lymSDJpW0YHX/wqE9+cfEauh7xZcG0q9t2ta6F6fmX0agvpFyZo8aFbXeUBr7osSCJNgvavWbM/06niWrOvYX2xwWdhXmXSrbX8ZbabVohBK41 email@example.com"

# SG open ports (ec2)
allow_ports = [80, 443, 22]

# Route53 - use these parameters to use existing Route53 hosted zone.
# In case if zone id set terraform will create records that point to EC2 instances
# r53_zone_id = "Z0234527BTZYLW0RKZBL"
# web_subdomain = "www"
# api_subdomain = "api"